coverage==4.5.1
Django==2.1.1
djangorestframework==3.8.2
factory-boy==2.11.1
Faker==0.9.1
pep8==1.7.1
psycopg2-binary==2.7.5
pycodestyle==2.4.0
python-dateutil==2.7.3
pytz==2018.5
six==1.11.0
text-unidecode==1.2
