@import "styles/colors";
@import "styles/screenSizes.scss";

header {
  background-color: insuranceColor('blue');
  box-shadow: 2px 4px 35px 1px rgba(146,146,146,1);

  .hamburger {
    color: insuranceColorLevel('white');
  }

  .navbar-item {
    margin: 0 10px;

    @include sm {
      padding-top: 20px;
      padding-bottom: 5px;
      border-bottom: 1px solid insuranceColorLevel('blue', 4);
    }

    &.active {
      .navbar-link {
        color: insuranceColorLevel('grey', 6);

        &:hover {
          color: insuranceColor('white');
        }
      }
    }

    .navbar-link {
      color: insuranceColor('white');
      font-size: 17px;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        color: insuranceColorLevel('grey', 6)
      }
    }
  }
}
