@import "./colors";

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Muli', Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

body.fontLoaded {
  font-family: 'Muli', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#app {
  min-height: 100%;
  min-width: 100%;
  background-color: insuranceColorLevel('grey', 8);
}

p,
label {
  font-family: Muli, 'Times New Roman', serif;
  line-height: 1.5em;
}
